[{mnesia,
  [{dir, "priv/db"}]}
 ,{skel,
   [{http_port, 20080}
    ,{listen, "0.0.0.0"}
    ,{log_dir, "priv/log"}
   ]}
 ,{sasl, [{sasl_error_logger, tty}
          ,{errlog_type, all}
          ,{error_logger_mf_dir,"priv/log"}
          ,{error_logger_mf_maxbytes,52428800} % 50 MB 
          ,{error_logger_mf_maxfiles, 10}
         ]}
].
